bcrypt==4.2.0
cloudinary==1.44.1
email-validator==2.3.0
fastapi==0.121.0
fastapi-cli==0.0.14
fastapi-cloud-cli==0.3.1
flasgger==0.9.7.1
Flask==3.0.3
Flask-Bcrypt==1.0.1
Flask-Cors==5.0.0
Flask-JWT-Extended==4.6.0
Flask-Mail==0.10.0
Flask-SQLAlchemy==3.1.1
flask-swagger-ui==4.11.1
gunicorn==23.0.0
oauthlib==3.2.2
pydantic==2.9.2
pydantic-extra-types==2.10.6
pydantic-settings==2.11.0
pydantic_core==2.23.4
python-dotenv==1.0.1
python-jose==3.5.0
requests==2.32.3
responses==0.25.7
SQLAlchemy==2.0.35
twilio==9.6.3
uvicorn==0.38.0