@import "tailwindcss";

@layer utilities {
  /* I hardcoded the grid line color (dark green with low opacity) right here */
  .grid-bg-pattern {
    background-image: linear-gradient(
        to right,
        rgba(6, 78, 59, 0.05) 1px,
        transparent 2px
      ),
      linear-gradient(to bottom, rgba(6, 78, 59, 0.05) 1px, transparent 1px);
    background-size: 40px 40px;
  }

  .grid-animate-scroll {
    animation: grid-scroll 20s linear infinite;
  }
}

@keyframes grid-scroll {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: 40px 40px;
  }
}
